/*body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("/image/New_Alienware_Laptop_HD_Desktop_Background_Wallpaper.jpg");
}

.navbar-inverse {
    background-color: #20B1AA;
    border-color: #20B1AA;s
    color: #fff;
    border-radius: 0px;
}

.navbar-inverse .navbar-brand {
        color: #fff;
    }
    .navbar-inverse .navbar-brand a{
        color: #808080;
    }
.navbar-inverse .navbar-brand a span:hover {
        color: #eee;
    }


.panel-table{
    padding:0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: rgba(52, 87, 117, 0.94);
}

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
        color: rgba(104, 123, 140, 0.55);
    }

.custom-navbar {
    background: #136eb4;
}

.main-page {
    height: calc(100vh - 90px);
    padding: 30vh;
    background: rgba(0, 224, 255, 0.3);
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.main-features .block {
    height: 35vh;
    background: #FFF;
    padding: 10vh 0;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.main-features .block:hover {
    box-shadow: 0 0 10px #f60;
    font-size: 18px;
}

.main-features .block .icon {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}*/