@model TextEditor.Models.DocxView
@{
    ViewBag.Title = "Format";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">File</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">

                            <form id="from-upload">
                                <input type="file" name="UploadFile" id="txtUploadFile" class="homereportupload" accept="application/pdf,application/msword,
                    application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                            </form>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <button class="btn btn-default" type="button">Upload</button>
                        <button class="btn btn-default" type="button">Check</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Định dạng trang</h3>
            </div>
            <div class="panel-body row">
                <div class="input-group col-md-2">
                    <span class="control-label">Lề trái</span>
                    <input id="page_layout_margin_left" type="text" class="form-control">
                </div>
                <div class="input-group col-md-2">
                    <span class="control-label">Lề phải</span>
                    <input id="page_layout_margin_right" type="text" class="form-control">
                </div>

                <div class="input-group col-md-2">
                    <span class="control-label">Lề trên</span>
                    <input id="page_layout_margin_top" type="text" class="form-control">
                </div>

                <div class="input-group col-md-2">
                    <span class="control-label">Lề dưới</span>
                    <input id="page_layout_margin_bottom" type="text" class="form-control">
                </div>

                <div class="input-group col-md-2">
                    <span class="control-label">Loại giấy</span>
                    <input id="page_layout_size_paper_type" type="text" class="form-control">
                </div>

                <div class="input-group col-md-2">
                    <span class="control-label">Font chữ</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trang bìa</h3>
            </div>
            <div class="panel-body row">
                <div class="input-group col-md-3">
                    <span class="control-label">Cỡ chữ</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group col-md-3">
                    <span class="control-label">Font chữ</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tên các chương</h3>
            </div>
            <div class="panel-body row">
                <div class="input-group col-md-3">
                    <span class="control-label">Cỡ chữ</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group col-md-3">
                    <span class="control-label">Font chữ</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Định dạng text trong các chương</h3>
            </div>
            <div class="panel-body row">
                <div class="input-group col-md-3">
                    <span class="control-label">Cỡ chữ</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $('#txtUploadFile').on('change', function (e) {
                var files = e.target.files;
                if (files.length > 0) {
                    if (this.value.lastIndexOf('.docx') === -1) {
                        if (this.value.lastIndexOf('.doc') === -1) {
                            alert('Only docx, doc files are allowed!');
                            this.value = '';
                            return;
                        }
                    }
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        $.ajax({
                            type: "POST",
                            url: '/api/process/upload',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                console.log(result);
                                var res = JSON.parse(result);
                                Check(res);
                            },
                            error: function (xhr, status, p3, p4) {
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });
        });

        function Check(obj) {
            SetColorIfFail("page_layout_margin_top", obj.Page.Layout.Margin.Top);
            SetColorIfFail("page_layout_margin_bottom", obj.Page.Layout.Margin.Bottom);
            SetColorIfFail("page_layout_margin_left", obj.Page.Layout.Margin.Left);
            SetColorIfFail("page_layout_margin_right", obj.Page.Layout.Margin.Right);
            SetColorIfFail("page_layout_size_paper_type", obj.Page.Layout.Size.PaperType);
        }

        function SetColorIfFail(id, value) {
            var obj = document.getElementById(id);

            if (obj.value == value) {
                console.log("true");
                obj.style.borderColor = "#0c829d";
            } else {
                obj.style.borderColor = "#FF0000";
                console.log("false");
            }
        }

    </script>
}

