@{
    ViewBag.Title = "Home Page";
}



<div class="main-page">
    <h1 class="text-center">Hệ Thống Kiểm Tra Lỗi Chính Tả Và Định Dạng Văn Bản</h1>
</div>

<div class="main-features text-center">
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <p class="icon glyphicon glyphicon-pencil"></p>
                Kiểm tra lỗi chính tả
            </div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <p class="icon glyphicon glyphicon-text-width"></p>
                Định dạng văn bản
            </div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <p class="icon glyphicon glyphicon-font"></p>
                Quản lý lưu trữ tài liệu
            </div>
        </div>
    </div>
</div>