
@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <div class="backgroup">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <div class="main-page">
                            <h1 class="text-center">Chào mừng bạn đến với trang quản trị</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>



